/* body {
  background-image: url("/public/bg_drops.jpg");
  background-size: contain;
  background-repeat: repeat-y;
  background-color: rgba(200, 200, 200, 0.5);
  background-blend-mode: lighten;
} */

/* Trying to add a background image */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Classes */

.message_toast {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s;
}

.bg-merlin {
  background-color: #293462;
}

.grow_animation {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}
