/* body {
  background-image: url("/public/bg_drops.jpg");
  background-size: contain;
  background-repeat: repeat-y;
  background-color: rgba(200, 200, 200, 0.5);
  background-blend-mode: lighten;
} */

/* Trying to add a background image */
